body {
    display: flex;
    justify-content: flex-end;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu-open {
    outline: none;
    appearance: none;
}


.menu-open-button {
    height: 75px;
    width: 75px;
    border-radius: 100%;
    background: #952b45;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu-open-button:hover {
    height: 80px;
    width: 80px;
}

.menu-open-button .menu-line {
    width: 25px;
    height: 4px; 
    background: white;
    margin: 2px;
}

.menu-open-button:hover .menu-line {
    width: 30px;
}
.menu-open:checked + .menu-open-button .menu-line {
    margin: -2px;
}
.menu-open:checked + .menu-open-button .menu-line.menu-line-1 {
    transform: rotate(45deg);
}
.menu-open:checked + .menu-open-button .menu-line.menu-line-2 {
    transform: rotate(-45deg);
}
.menu-open:checked + .menu-open-button .menu-line.menu-line-3 {
    display: none;
}
/* hamburger menu elements */

.menu-open ~ .menu-item {
    width: 75px;
    height: 75px;
    margin: 3px;
    border-radius: 100%;
    border: solid 1px #952b45;
    background: #952b45;
    display: none;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

.menu-item:hover {
    background: white;
}

.menu a {
    text-decoration: none;
}

.menu a i{
    font-size: xx-large;
    color: white;
}

.menu-item:hover i {
    color: #952b45;
}

/* checkbox dynamic display */

.menu-open:checked ~ .menu-item {
    display: flex;
}